__pycache__/
*.pyc
*.pyo
*.pyd
.tld_cache/
.pytest_cache/
.DS_Store

# Ignore large binary models and dataset directories
**/RESULTS_&_MODELS/
**/0_DATA/
**/best_model_epoch_*/
**/checkpoints/
*.pt
*.onnx
*.pkl

